{% extends "base.html" %}
{% block content %}
<video id="stream" class="video-js w-full rounded-lg" autoplay controls preload="auto"
        poster="/static/images/Fcesped.jpg" data-setup="{}">
    <source src="/monitoring/{{ stream_name }}" type="application/vnd.apple.mpegurl" />
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>
<link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
<script src="{{ url_for('static', filename='/js/stream_player.js') }}"></script>
{% endblock %}