{% extends "base.html" %}
{% block content %}
<div class="flex items-center justify-center
              min-h-screen bg-gray-200">
    <div class="main bg-white rounded-lg shadow-md p-10 
    transition-transform w-96 text-center">
        <h1 class="text-blue-600 text-3xl">
            ¡Ups!
        </h1>
        <h3 class="text-lg text-red-600 p-5">
            ¡Parece ser que este link ya está siendo usado por otra persona! <br class="text-sm">Si crees que se trata
            de un error, por favor contactá al administrador.
        </h3>
    </div>
</div>
</div>
{% endblock %}