{% extends "base.html" %}
{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-200">
    <div class="main bg-white rounded-lg shadow-md p-10 
    transition-transform w-96 text-center">
        <h1 class="text-blue-600 text-3xl">¡Limite de usuarios alcanzado!</h1>
        <img src="/static/closed.jpg" alt="Imagen de acceso" class="w-64 h-full mx-auto mb-6">
        <h3 class="text-lg text-red-600 p-5">Se ha alcanzado el limite de usuarios y ya no hay más cupos.</h3>
    </div>
</div>
</div>
{% endblock %}