{% extends "base.html" %}
{% block content %}
<div class="flex justify-center h-28 xs:h-2/4">
  <img src="{{ url_for('static', filename='/banner.png') }}">
</div>
<div>
  <div class="flex flex-col sm:flex-row -mt-2 ">
    <div class="rounded-lg bg-gray-500  bg-opacity-50 px-1 md:px-4 m-2 w-full sm:w-3/5 pb-2">
      <p class="shadow-lg py-1 text-white font-bold">Transmisión en vivo</p>
      {% if pconfig['YOUTUBE_MODE'] == 'enabled' %}
      <iframe id="yt-live-frame" class="rounded-lg" width=100% height="480"
        src="https://www.youtube.com/embed/{{ pconfig.YOUTUBE_ID }}?modestbranding=0&autoplay=1&rel=0&showinfo=0&controls=1"
        title="Enfoque Live Streaming" frameborder="0"
        allow="accelerometer; autoplay; ; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      </iframe>
      {% else %}
      <video id="stream" class="video-js w-full md:h-full rounded-lg" controls autoplay preload="auto"
        poster="/static/cesped.jpg" data-setup="{}">
        <source src="/play/{{ token }}/{{ stream_name }}" type="application/vnd.apple.mpegurl" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
      {% endif %}
    </div>
    <div class="rounded-lg bg-gray-500  bg-opacity-50 px-1 md:px-4 m-2  w-full sm:w-2/5 pb-2">
      <p class="shadow-lg py-1 text-white font-bold">Chat publico</p>
      {% if pconfig['YOUTUBE_MODE'] == 'enabled' %}
      <iframe class="rounded-lg " width="100%" height="480px"
        src="https://www.youtube.com/live_chat?v={{ pconfig.YOUTUBE_ID }}&amp;embed_domain={{ pconfig.DOMAIN }}"></iframe>
      {% else %}
      <script style="width:100%;height:300px" id="cid0020000372828019246" data-cfasync="false" async
        src="//st.chatango.com/js/gz/emb.js">{ "handle": "enfoque-live", "arch": "js", "styles": { "a": "99cc33", "b": 100, "c": "000000", "d": "000000", "k": "99cc33", "l": "99cc33", "m": "99cc33", "p": "10", "q": "99cc33", "r": 100, "usricon": 0.81, "cnrs": "0.35" } }</script>
      {% endif %}
    </div>
  </div>
  <footer>
    <h2 class="bg-gray-600 bg-opacity-50 text-white text-bold text-center">- by Enfoque Zonal 2023 -</h2>
  </footer>
  <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
  <style type="text/css">
    body {
      background-image: url('/static/background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    @media (min-width: 768px) {
      #stream {
        height: 600px;
      }
    }

    @media (max-width: 744px) {
      #stream {
        height: 300px;
        /* Establece la altura a 400px para medidas inferiores a 768px */
      }
    }

    .video-container {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      position: relative;
    }

    .video-container iframe,
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    .video-container iframe,
    {
    pointer-events: none;
    }

    .video-container iframe {
      position: absolute;
      top: -60px;
      left: 0;
      width: 100%;
      height: calc(100% + 120px);
    }

    .video-foreground {
      pointer-events: none;
    }
  </style>
  {% endblock %}